go 1.26.1

use (
	.
	./plugins/downloader
	./plugins/extractor
	./plugins/rss
	./plugins/store
	./plugins/transcriber
	../third_party/go-ollama-sdk
)
replace github.com/gavmor/wasm-microkernel => ../wasm-microkernel
